<ion-view view-title="Existencia">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				<div class="item list">
				  <form ng-submit="imprimir(form)">
					<h1>Venta</h1>
					<table width="100%" border="1" cellpadding="20" cellspacing="10">
					  <thead>
						<th>Cambios</th>
						<th>Cantidad</th>
						<th>Descripcion</th>
						<th>P/U</th>
						<th>Importe</th>
					  </thead>
					  <tbody>
					  	<tr>
							<td>1</td>
						    <td>2</td>
							<td align="center">CH</td>
						    <td>2</td>
						    <td>0</td>
						</tr>
					  	<tr>
						    <td>1</td>
						    <td>2</td>
							<td align="center">Gr</td>
						    <td>0</td>
						    <td>2</td>
						</tr>
					  	<tr>
						    <td>1</td>
						    <td>2</td>
							<td align="center">DOC</td>
						    <td>0</td>
						    <td>2</td>
						</tr>
					  	<tr>
						    <td>1</td>
						    <td>2</td>
							<td align="center">TOTO</td>
						    <td>0</td>
						    <td>2</td>
						</tr>
					  	<tr>
						    <td>1</td>
						    <td>2</td>
							<td align="center">TH15</td>
						    <td>0</td>
						    <td>2</td>
						</tr>
					  	<tr>
						    <td>1</td>
						    <td>2</td>
							<td align="center">BURRO</td>
						    <td>0</td>
						    <td>2</td>
						</tr>
					  </tbody>
					</table>
					<button class="button button-full button-dark" type="submit" value="Submit">Imprimir</button>
				  </form>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
